<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CartMapper">
	<insert id="cartAdd" parameterType="CartDTO">
		insert into cart(num, userid, goods_code, goods_name, goods_price, goods_color, goods_amount, goods_image, goods_brand)
		values(cart_seq.nextval, #{userid}, #{goods_code}, #{goods_name}, #{goods_price}, #{goods_color}, #{goods_amount}, #{goods_image}, #{goods_brand})
	</insert>
	
	<select id="cartList" parameterType="String" resultType="CartDTO">
		select num, userid, goods_code, goods_name, goods_price, goods_color, goods_amount, goods_image, goods_brand
		from cart
		where userid=#{userid}
	</select>
	
	<delete id="cartDel" parameterType="int">
		delete from cart
		where num=#{num}
	</delete>
	
	<update id="cartUpdate" parameterType="hashmap">
		update cart
		set goods_amount = #{gAmount}
		where num = #{num}
	</update>
	
	<delete id="cartDelAll" parameterType="arraylist">
		delete from cart
		where num
		in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<select id="cartToOrder" parameterType="int" resultType="CartDTO">
		select num, userid, goods_code, goods_name, goods_price, goods_color, goods_amount, goods_image, goods_brand
		from cart
		where num = #{num}
	</select>
	
		<select id="cartToOrderAll" parameterType="arraylist" resultType="CartDTO">
		select num, userid, goods_code, goods_name, goods_price, goods_color, goods_amount, goods_image, goods_brand
		from cart
		where num in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	
</mapper>