<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GoodsMapper">
<select id="goodsRetrieve" resultType="Goods" parameterType="string">
select goods_Code
   		,goods_Color
   		,goods_Name
   		,goods_Price
   		,goods_Brand
   		,goods_Image1
   		,goods_Image2
   		,goods_Content
   		,goods_Category
		from goods 
		where goods_Code=#{goods_Code} 
</select>

<select id="goodsAll" resultType="Goods">
select goods_Code
   		,goods_Color
   		,goods_Name
   		,goods_Price
   		,goods_Brand
   		,goods_Image1
   		,goods_Image2
   		,goods_Content
   		,goods_Category
		from goods 
 	order by goods_code asc
</select>
<select id="goodsList" resultType="Goods" parameterType="string">
select goods_Code
   		,goods_Color
   		,goods_Name
   		,goods_Price
   		,goods_Brand
   		,goods_Image1
   		,goods_Image2
   		,goods_Content
   		,goods_Category
   		from goods 
   		where goods_Category=#{goods_Category} 
</select>

<select id="colorChart" resultType="string" parameterType="string">
	select DISTINCT goods_Color
	from goods
	where goods_Category=#{goods_Category} 
</select>

<select id="brandChart" resultType="string" parameterType="string">
	select DISTINCT goods_Brand
	from goods
	where goods_Category=#{goods_Category} 
</select>

<select id="goodsSortBrandColor" resultType="Goods" parameterType="hashmap">
  select goods_Code
   		,goods_Color
   		,goods_Name
   		,goods_Price
   		,goods_Brand
   		,goods_Image1
   		,goods_Category
  from goods 
  where goods_Category = #{category}
  and goods_Brand in
  <foreach close=")" separator="," open="(" collection="brand" index="index" item="item"> #{item} </foreach>
  and goods_Color in
  <foreach close=")" separator="," open="(" collection="color" index="index" item="item"> #{item} </foreach>
 </select>
 
 <select id="goodsSortBrand" resultType="Goods" parameterType="hashmap">
	 select goods_Code
	   		,goods_Color
	   		,goods_Name
	   		,goods_Price
	   		,goods_Brand
	   		,goods_Image1
	   		,goods_Category
	  from goods 
	  where goods_Category = #{category}
	  and goods_Brand in
	  <foreach collection="brand" item="item" close=")" separator="," open="(" index="index">
	  #{item}
	  </foreach>
 </select>
 
  <select id="goodsSortColor" resultType="Goods" parameterType="hashmap">
	 select goods_Code
	   		,goods_Color
	   		,goods_Name
	   		,goods_Price
	   		,goods_Brand
	   		,goods_Image1
	   		,goods_Category
	  from goods 
	  where goods_Category = #{category}
	  and goods_Color in
	  <foreach collection="color" item="item" close=")" separator="," open="(" index="index">
	  #{item}
	  </foreach>
 </select>
 
 <select id="goodsSortLow" resultType="Goods" parameterType="string">
 	select goods_Code
	   		,goods_Color
	   		,goods_Name
	   		,goods_Price
	   		,goods_Brand
	   		,goods_Image1
	   		,goods_Category
	  from goods 
	  where goods_Category = #{category}
  	  order by goods_price asc 
 </select>
 
  <select id="goodsSortHigh" resultType="Goods" parameterType="string">
 	select goods_Code
	   		,goods_Color
	   		,goods_Name
	   		,goods_Price
	   		,goods_Brand
	   		,goods_Image1
	   		,goods_Category
	  from goods 
	  where goods_Category = #{category}
  	  order by goods_price desc 
 </select>
 
 <select id="goodsSortHighAll" resultType="Goods">
 	select goods_Code
	   		,goods_Color
	   		,goods_Name
	   		,goods_Price
	   		,goods_Brand
	   		,goods_Image1
	   		,goods_Category
	  from goods 
  	  order by goods_price desc 
 </select>
 
  <select id="goodsSortLowAll" resultType="Goods">
 	select goods_Code
	   		,goods_Color
	   		,goods_Name
	   		,goods_Price
	   		,goods_Brand
	   		,goods_Image1
	   		,goods_Category
	  from goods 
  	  order by goods_price asc 
 </select>

<select id="goodsSortBrandColorAll" resultType="Goods" parameterType="hashmap">
  select goods_Code
   		,goods_Color
   		,goods_Name
   		,goods_Price
   		,goods_Brand
   		,goods_Image1
   		,goods_Category
  from goods 
  where goods_Brand in
  <foreach close=")" separator="," open="(" collection="brand" index="index" item="item"> #{item} </foreach>
  and goods_Color in
  <foreach close=")" separator="," open="(" collection="color" index="index" item="item"> #{item} </foreach>
 </select>
 
 <select id="goodsSortBrandAll" resultType="Goods" parameterType="hashmap">
	 select goods_Code
	   		,goods_Color
	   		,goods_Name
	   		,goods_Price
	   		,goods_Brand
	   		,goods_Image1
	   		,goods_Category
	  from goods 	  
	  where goods_Brand in
	  <foreach collection="brand" item="item" close=")" separator="," open="(" index="index">
	  #{item}
	  </foreach>
 </select>
 
  <select id="goodsSortColorAll" resultType="Goods" parameterType="hashmap">
	 select goods_Code
	   		,goods_Color
	   		,goods_Name
	   		,goods_Price
	   		,goods_Brand
	   		,goods_Image1
	   		,goods_Category
	  from goods 
	  where goods_Color in
	  <foreach collection="color" item="item" close=")" separator="," open="(" index="index">
	  #{item}
	  </foreach>
 </select>

 <select id="colorChartAll" resultType="string">
	select DISTINCT goods_Color
	from goods
</select>

<select id="brandChartAll" resultType="string">
	select DISTINCT goods_Brand
	from goods
</select>
  
  <!-- admin -->	
  	
	 <select id="adminGoodsSelect" parameterType="string" resultType="Goods">
	select goods_Code
	   		,goods_Color
	   		,goods_Name
	   		,goods_Price
	   		,goods_Brand
	   		,goods_Image1
	   		,goods_Image2
	   		,goods_Content
	   		,goods_Category
	 from goods
	 where goods_code = #{goods_code}
	</select>
 
	<delete id="adminGoodsDel" parameterType="string">
	delete from goods
	where goods_code = #{goods_Code}
	</delete>
	<update id="adminGoodsUpdate" parameterType="Goods">
	update goods
	set    	goods_Color = #{goods_Color}
	   		,goods_Name = #{goods_Name}
	   		,goods_Price = #{goods_Price}
	   		,goods_Brand = #{goods_Brand}
	   		,goods_Image1 = #{goods_Image1}
	   		,goods_Image2 = #{goods_Image2}
	   		,goods_Content = #{goods_Content}
	   		,goods_Category = #{goods_Category}
	where goods_code = #{goods_Code}
	</update>
	
	<delete id="adminGoodsDelAll" parameterType="list">
	delete from goods
	where goods_code in
	<foreach close=")" separator="," open="(" collection="list" index="index" item="item"> #{item} </foreach>
	</delete>
	
	<insert id="adminGoodsInsert" parameterType="Goods">
	insert into goods (
			 goods_Code
	   		,goods_Color
	   		,goods_Name
	   		,goods_Price
	   		,goods_Brand
	   		,goods_Image1
	   		,goods_Image2
	   		,goods_Content
	   		,goods_Category
	   		,goods_date)   		
	values (
	   		#{goods_Code},
	   		#{goods_Color},
	   		#{goods_Name},
	   		#{goods_Price},
	   		#{goods_Brand}, 
	   		#{goods_Image1},
	   		#{goods_Image2}, 
	   		#{goods_Content},
	   		#{goods_Category}, 
	   		 sysdate   		
	   		)   		
	</insert>
<!-- paging -->
	<select id="totalCount" resultType="int">
	 <!-- 전체 갯수를 세어주고 -->
	 select count(*) 
 	from goods
	 </select>
	 	<select id="totalCountCate" resultType="int" parameterType="string">
		 <!-- 전체 갯수를 세어주고 -->
		 select count(*) 
	 	 from goods
	 	 where goods_Category = #{category}
	 </select>
 <!-- search -->
	 <select id="goodsSearch" resultType="Goods" parameterType="string">
	  select goods_Code
	   		,goods_Color
	   		,goods_Name
	   		,goods_Price
	   		,goods_Brand
	   		,goods_Image1
	   		,goods_Category
	  from goods 
	  where goods_content like '%'||#{search}||'%'
		or UPPER(goods_brand) like UPPER('%'||#{search}||'%')
		or UPPER(goods_name) like UPPER('%'||#{search}||'%')
	 </select>
		
</mapper>