<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NoticeMapper">

<insert id="noticeWrite" parameterType="Notice">
insert into noticeboard 
( seq
	,title
	,content
	,reg_dts
	) 
values 
(seq_seq.NEXTVAL
	,#{title}
	,#{content}
	,sysdate
	) 
</insert>


<select id="noticeAll" resultType="Notice" parameterType="hashmap">
select seq
	,title
	,reg_dts
	from notice 
</select>

<select id="NoticeCount" resultType="int">
select count(*)
from notice 
</select>
</mapper>