<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewMapper">
<select id="review" parameterType="String" resultType="Review"> 
select * from review order by review_number desc
</select>
<!-- 글 자세히보기 + 조회수  -->
<select id="reviewRetrieve" parameterType="hashmap" resultType="Review">
select review_number
,title
,author 
,content
,term 
,regdate
,image_name 
,readcnt
from review 
where review_number = #{review_number} 
</select>

<update id="updateReadCnt" parameterType="string">
update review set readcnt = NVL(readcnt, 0) + 1 
where review_number = #{review_number}
</update>
<select id="totalCount" resultType="int">
select count(*) from review 
</select>
<select id="reviewRetrieveJoin" resultType="ReviewJoin" parameterType="string">
select review.review_number as review_review_number 
, review.regdate as review_regdate 
, review.title as review_title 
, review.author as review_author 
,review.readcnt as review_readcnt
, review.content as review_content 
,review.image_name as review_image_name
,review.goods_code as review_goods_code
,review_comment.author as review_comment_author 
, review_comment.content as review_comment_content 
,review_comment.r_comment_number as review_comment_number
from review, review_comment 
where review.review_number = review_comment.review_number(+)
and review.review_number = #{review_number} 
</select>
<insert id="reviewWrite" parameterType="Review">
insert into review (review_number
, title
, author
, content
, image_name
, term
, regdate
, readcnt)
values ( review_number.NEXTVAL
,#{title}
,#{author}
,#{content}
,#{image_name}
,#{term}
,sysdate
,0
)
<!-- end eeee -->
</insert>
<delete id="reviewDelete" parameterType="int">
delete from review 
where review_number = #{review_number}
</delete>
<update id="reviewUpdate" parameterType="Review">
update review set 
title = #{title}
	,content=#{content}
	,image_name=#{image_name}
where review_number=#{review_number} 
</update>
<insert id="ReviewCommentInsert" parameterType="ReviewComment">
insert into review_comment 
( author, review_number, r_comment_number, content, regdate )
values 
( #{author}
, #{review_number}
,r_comment_number.NEXTVAL
,#{content}
,sysdate
)
</insert>
<delete id="reviewCommentDelete" parameterType="string">
delete from review_comment 
where r_comment_number=#{r_comment_number} 
</delete>










</mapper>